<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ponces.android.documentsui.gsi.overlay">
    <overlay
        android:priority="500"
        android:targetPackage="com.android.documentsui"
        android:targetName="DocumentsUICustomization"
        android:isStatic="true"/>
</manifest>
