<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.launcher3.overlay.ponces">
    <overlay
        android:priority="0"
        android:targetPackage="com.android.launcher3"
        android:isStatic="true"/>
</manifest>
