<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.font.oneplusslate">
    <overlay
        android:priority="600"
        android:targetPackage="android"
        android:category="android.theme.customization.font" />
    <application android:label="@string/font_oneplusslate_source_overlay">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="oneplusslate,oneplusslate-bold" />
    </application>
</manifest>
