<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ponces.android.wifi.resources.gsi.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false"/>
    <overlay
        android:priority="500"
        android:targetPackage="com.android.wifi.resources"
        android:targetName="WifiCustomization"
        android:isStatic="true"/>
</manifest>
