<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.overlay.font.arbutussource.ponces">
    <overlay
        android:priority="1"
        android:targetPackage="android"
        android:category="android.theme.customization.font" />
    <application android:label="@string/font_arbutus_source_overlay">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="arbutus-slab,source-sans-pro,source-sans-pro-medium" />
    </application>
</manifest>
