<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.overlay.font.harmonysans.ponces">
    <overlay
        android:priority="600"
        android:targetPackage="android"
        android:category="android.theme.customization.font" />
    <application android:label="@string/font_harmonyos_sans_overlay">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="harmonyos-sans,harmonyos-sans-medium" />
    </application>
</manifest>
